 # Function

In [7]:
def add_number():
    
    
    number1 = int(input("Enter the 1st number"))

    number2 = int(input("Enter the 2nd number"))

    print(number1 + number2)

In [8]:
add_number()

Enter the 1st number 34
Enter the 2nd number 45

79

In [2]:
def add_number(): 
                            
    print(20+30)

In [3]:
add_number()

50

In [11]:
def sub_number():
    number1 = int(input("Enter the 1st number"))

    number2 = int(input("Enter the 2nd number"))

    number5 = number1 - number2

    print(number5)

In [12]:
sub_number()

Enter the 1st number 23
Enter the 2nd number 2

21

In [4]:
def mul():

    num = 4*5

    print(num)

In [5]:
mul()

20

In [15]:
def multiple():
    num1 = int(input("Enter the 1st number"))

    num2 = int (input("Enter the 2nd number"))

    total = (num1 * num2)

    print(total)

In [16]:
multiple()

Enter the 1st number 45
Enter the 2nd number 56

2520

In [17]:
def multiple():
    num1 = float(input("Enter the 1st value"))

    num2 = int(input("Enter the 2nd number"))

    total = (num1 * num2)

    print(total)

In [18]:
multiple()

Enter the 1st value 3
Enter the 2nd number 2

6.0

In [6]:
def div():
    a = 100

    b = 30

    result = a/b # result in floating number by defult in python

    print(result) # result = a//b , the result should be in intege

In [7]:
div()

3.3333333333333335

In [9]:
def reminder():
    num1 = int(input("Enter the first value"))

    num2 = int(input("Enter the 2nd value"))

    total = num1 % num2

    print(total)

In [24]:
reminder()

Enter the first value 4
Enter the 2nd value 2

0

 # Parameterized Function

In [10]:
def add_numbers(num1, num2):
   print(num1+num2)

In [11]:
add_numbers(20,110)

130

# Postional Arguments

In [28]:
def sub(num1, num2):

    print(num1-num2)

In [29]:
sub(200,70)

130

In [36]:
def mul(num2, num4):
     print(num2*num4)

In [39]:
mul(93,89)

8277

# Key Word Argument

In [12]:
def add_numbers(number1,number2):

    print(number1+number2)

In [13]:
add_numbers(number2=400, number1=800)

1200

In [15]:
def full_name(Name,dept,section):

    print(Name+dept+section)

In [21]:
full_name("Saliha","AI", "1stM")

SalihaAI1stM

In [23]:
def fullName(dept="AI",section="1stM",Name="Saliha"):

 print(Name+dept+section)

In [24]:
fullName()

SalihaAI1stM

In [25]:
def fullName(first,middle,last="Saliha"):

    print(first+middle+last)

In [27]:
fullName("Mis","Saliha")

MisSalihaSaliha

# Arbitaray Numbers

In [41]:
def pizzaorder(size,flavour,*toppings):          # we first define toppings with steric

    print(f"your order for pizza of{size},flavour{flavour},and toppings{toppings} is ready")

In [42]:
pizzaorder(12,"chikentikka","olives","fruits","tea")

your order for pizza of12,flavourchikentikka,and toppings('olives', 'fruits', 'tea') is ready

 # Local And Global Varaiable

# Local Varaible

In [40]:
def beHappy():
    
    name ="Ifra"

    print(f"{name} is very happy today")

In [42]:
beHappy()

Ifra is very happy today

# Global Variable

In [30]:
another_name = "Momin"
            
def active():

    print(f"{another_name} is very active today")

In [31]:
active()

Momin is very active today

In [32]:
another_name

'Momin'