In [2]:
import pandas as pd
zain=pd.Series([10,23,4,5,6,7,8])
print(zain)

0    10
1    23
2     4
3     5
4     6
5     7
6     8
dtype: int64

In [3]:
print(zain.values)

[10 23  4  5  6  7  8]

In [4]:
print(zain.index)

RangeIndex(start=0, stop=7, step=1)

In [14]:
import pandas as df
aimen=pd.Series([2,4,66,890,323,56,8],index=["a","b","f","g","e","l","t"])
print(aimen)

a      2
b      4
f     66
g    890
e    323
l     56
t      8
dtype: int64

consider that u have make series of books read by the readers in 5 days

In [25]:

books=pd.Series(["books",23,67,12,32,51],index=["days","day1","day2","day3","day4","day5"])
print(books)

days    books
day1       23
day2       67
day3       12
day4       32
day5       51
dtype: object

In [34]:
print(books[-1])

51

In [70]:

books=pd.Series([23,67,12,32,51],index=["day1","day2","day3","day4","day5"])
print(books)

day1    23
day2    67
day3    12
day4    32
day5    51
dtype: int64

In [37]:
print(books[0])

23

In [39]:
print(books[[3,4]])

day4    32
day5    51
dtype: int64

In [42]:
print(books[["day3","day2"]])

day3    12
day2    67
dtype: int64

In [46]:
print(books)
print(books>30)
print(books[books>30])

day1    23
day2    67
day3    12
day4    32
day5    51
dtype: int64
day1    False
day2     True
day3    False
day4     True
day5     True
dtype: bool
day2    67
day4    32
day5    51
dtype: int64

In [48]:
books=books*2
print(books)

day1     46
day2    134
day3     24
day4     64
day5    102
dtype: int64

In [85]:
books=books/2
print(books)

day1    0.000488
day2    0.001953
day3    0.000000
day4    0.000977
day5    0.001465
dtype: float64

In [74]:
books=books//2
print(books)

day1    1.0
day2    4.0
day3    0.0
day4    2.0
day5    3.0
dtype: float64

In [92]:
import numpy as np
arr1=np.array([1,2,3,4,55,6,7])
arr2=np.array([2,3,4,5,6,67,7,])
panda=pd.Series(arr1,arr2)
print(panda)

2      1
3      2
4      3
5      4
6     55
67     6
7      7
dtype: int32

In [93]:
pak={"zain":1,"sem":"6th","add":"lhr"}
pak1=pd.Series(pak)
print(pak1)

zain      1
sem     6th
add     lhr
dtype: object

In [94]:
print(pak1.values)

[1 '6th' 'lhr']

In [95]:
print(pak1.index)

Index(['zain', 'sem', 'add'], dtype='object')

In [98]:
print(pak1.keys)

<bound method Series.keys of zain      1
sem     6th
add     lhr
dtype: object>

In [100]:
pak={"zain":1,"sem":"6th","add":"lhr"}
pak1=pd.Series(pak,index=["zain","sem","add","city"])
print(pak1)

zain      1
sem     6th
add     lhr
city    NaN
dtype: object

In [104]:
"zain" in pak

True

In [106]:
pak={"zain":1,"sem":"6th","add":"lhr"}
pak1=pd.Series(pak,index=["zain","sem","add","city"])
print(pd.isnull(pak1))

zain    False
sem     False
add     False
city     True
dtype: bool

In [109]:
print(pak1["city"])

nan

In [110]:
pd.isnull(pak1)

zain    False
sem     False
add     False
city     True
dtype: bool

In [111]:

books=pd.Series([23,67,12,32,51],index=["day1","day2","day3","day4","day5"])
books.index=[1,2,3,4,5]
print(books)

1    23
2    67
3    12
4    32
5    51
dtype: int64