# Pandas Series

In [1]:
# must need to import pandas
# Creating Series in pandas

import pandas as pd
obj = pd.Series([4, 7, -5, 3])    
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

# pandas Series has two things in one object
1 Values
-  

2 Index
-

In [2]:
sales = pd.Series([100, 200, 100, 400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [3]:
sales = pd.Series([100, 200, 100, 400], index = ['Jan', 'Feb', 'Mar','Apr'])
print(sales)
print(sales.values)
print(sales.index)

Jan    100
Feb    200
Mar    100
Apr    400
dtype: int64
[100 200 100 400]
Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

# create a pandas series to store a canteen data to hold values of how many sandwithes are sold each days (one week)

In [4]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['mon', 'tue', 'wed', 'thr','fri', 'sat', 'sun'])
print(sw)

mon    20
tue    30
wed    20
thr    25
fri    30
sat    40
sun     0
dtype: int64

In [8]:
print(sw[1])

print(sw["tue"])

30
30

In [11]:
print(sw[  [3,5] ])

print(sw[ [ "tue", "thr"] ])

thr    25
sat    40
dtype: int64
tue    30
thr    25
dtype: int64

# for providing multipe index for selecting element in an pd series, use array notation

In [12]:
print(sw > 20)
print()
print(sw[sw > 20])

mon    False
tue     True
wed    False
thr     True
fri     True
sat     True
sun    False
dtype: bool

tue    30
thr    25
fri    30
sat    40
dtype: int64

In [13]:
#sw * 2
sw = sw * 2
print(sw)

mon    40
tue    60
wed    40
thr    50
fri    60
sat    80
sun     0
dtype: int64

In [14]:
sw = sw /2
print(sw)

mon    20.0
tue    30.0
wed    20.0
thr    25.0
fri    30.0
sat    40.0
sun     0.0
dtype: float64

In [16]:
'mon' in sw

True

# taking input from numpy arrays and converting to Pandas Series

In [17]:
import numpy as np
ar = np.array([3,2,4,5,6])   # creating array 
ind = np.array( ['a', 'b', 'c', 'd', 'e']) 

obj2 = pd.Series(ar, index = ind)    
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int32

# creating dictionary and then converting to pandas series

In [19]:
sdata = {"Sindh": 35000, "Panjab": 45000, "KPK": 30000, "Balochistan": 20000}   # creating dictionary
tax_by_state = pd.Series(sdata)  # Converting to series
print(tax_by_state)

print(tax_by_state.index)

Sindh          35000
Panjab         45000
KPK            30000
Balochistan    20000
dtype: int64
Index(['Sindh', 'Panjab', 'KPK', 'Balochistan'], dtype='object')

# if index more than values :

In [21]:
sdata = {"Sindh": 35000, "Panjab": 45000, "KPK": 30000, "Balochistan": 20000}
tax_by_state = pd.Series(sdata, index = ["Panjab", "Sindh", "KPK", "Balochistan", "GB"])

print(tax_by_state)

print(pd.isnull(tax_by_state))     # isnull() function checking null values

Panjab         45000.0
Sindh          35000.0
KPK            30000.0
Balochistan    20000.0
GB                 NaN
dtype: float64
Panjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

In [24]:
print(tax_by_state[-1])
print()
print(tax_by_state['GB'])

nan

nan

In [25]:
# NaN values mean, values does not exist in pandas series
pd.isnull(tax_by_state)
tax_by_state.isnull()

Panjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

In [27]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['mon', 'tue', 'wed', 'thr','fri', 'sat', 'sun'])
print(sw)
sw.index = ["m", "t", "w", "t", "f", "s", "s"]   # changing index
print(sw)

mon    20
tue    30
wed    20
thr    25
fri    30
sat    40
sun     0
dtype: int64
m    20
t    30
w    20
t    25
f    30
s    40
s     0
dtype: int64