In [48]:
name = "Saliha"

if name == "Saliha":
    
    print("Yep, it's Saliha.")

Yep, it's Saliha.

In [49]:
if name == "Saliha":
     status = "student"
     kingdom = "animalia"
     print("Yep, it's Saliha.")

Yep, it's Saliha.

In [7]:
 number_of_husbands = 1

if number_of_husbands == 1:
    
     print("one wife")

one wife

In [7]:
 number_of_husbands = 1

if number_of_husbands == 1:
    
     print("one wife")

one wife

In [15]:
num = 3
if num > 0:
    print(num, "is postive number.")

3 is postive number.

In [17]:
num = -1
if num < 0:
    print(num, "is a postive number.")

-1 is a postive number.

In [19]:
name = "Saliha"

if name == "Saliha":
     print("Yep, it's Saliha.")
        
if name != "Saliha":
     print("Nope, not Saliha.")

Yep, it's Saliha.

In [25]:
if name== "Saliha":
    print("Yep, it's Saliha.")
else:
    print("Nope, not Saliha.")

Yep, it's Saliha.

In [30]:
num = 4
if num>0:
    print("postive")
else:
    print("negative")

postive

In [46]:
 num = 5
if num>0:
    print("postive")
elif num==0:
    print("zero")
else:
   print("negative")

postive

In [51]:
Highest_Grades = ["A","B","C","D"]
Grade_to_check ="A"
for a_high_Grade in Highest_Grades:
  if Grade_to_check== a_high_Grade:
      print("it is highest grade")

it is highest grade

In [52]:
table = int(input("Enter the number"))

for num in range(1,11):
    print(f" {table} * {num} = {table*num}")

Enter the number 10

 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

In [53]:
table = int(input("Enter the number"))

for table in range(4,table+1):
    print(" ")
    for num in range(1,11):
        
        print(f" {table} * {num} = {table*num}")

Enter the number 7

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70