In [ ]:
CONDITIONAL STRUCTURE

In [7]:
name = input("Enter Your Last Name")
age = int(input("Enter Age"))
course= input("Enter Science or Arts")

if(age<29 and course=="Science"):
    print(f"Hi {name} Welcome to {course}")

Enter Your Last Name Atif
Enter Age 24
Enter Science or Arts Science

Hi Atif Welcome to Science

In [10]:
name = input("Enter Your Last Name")
age = int(input("Enter Age"))
course= input("Enter Science or Arts")

if(age<29 and course=="Science"):
    print(f"Hi {name} Welcome to {course}")
else:
        print(f" Sorry {name} You Belong to Arts Group")

Enter Your Last Name Atif
Enter Age 29
Enter Science or Arts Arts

SorryAtif You Belong to Arts Group

In [13]:
num = int(input("enter number"))
if(num%2 == 0):
    print("YOU enter Even Number")
else:
    print("Number is Odd")

enter number 33

Number is Odd

In [ ]:
# python if elif statement

In [16]:
age = int(input("Enter age"))

if (age==30):
    print("You have last year to apply for giv job")
elif (age > 30):
    print("Overage Sorry ")
else:
    print(f"Your Remaining age to apply for gov job is {30-age}")

Enter age 22

Your Remaining age to apply for gov job is 8

In [ ]:
#For LOOP

In [18]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
rnum=int(input("enter shoe number"))
for number in numbers :
    if rnum==number:
        print("Shoes available")
    else:
        print("sorry out is stock")

enter shoe number 1

sorry out is stock
sorry out is stock
sorry out is stock
sorry out is stock
sorry out is stock
sorry out is stock
sorry out is stock
sorry out is stock
sorry out is stock

In [21]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
rnum=int(input("enter shoe number"))
for number in numbers :
    if rnum==number:
        print("Shoes available")
else:
        print("sorry out is stock")

enter shoe number 1

sorry out is stock

In [23]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
rnum=int(input("enter shoe number"))
for number in numbers :
    if rnum==number:
        print("Shoes available")

enter shoe number 22

In [ ]:
#NUMBER SUM FROM USER

In [26]:
List=[]
total_number= int(input("enter number of values to be added"))
for num in range(0,total_number):
    value=int(input(f"enter {num} value "))

enter number of values to be added 4
enter 0 value  1
enter 1 value  2
enter 2 value  3
enter 3 value  4

In [27]:
list=[]
total_number= int(input("enter number of values to be added"))
for num in range(1,total_number+1):
    value=int(input(f"enter {num} value "))
    list.append(value)
print(list)

enter number of values to be added 5
enter 1 value  3
enter 2 value  4
enter 3 value  7
enter 4 value  9
enter 5 value  3

[3, 4, 7, 9, 3]

In [28]:
list=[]
total_number= int(input("enter number of values to be added"))
for num in range(1,total_number+1):
    value=int(input(f"enter {num} value "))
    list.append(value)
print(list)
total=0

for num in list:
    total=total + num

print(f"Sum is {total}")

enter number of values to be added 4
enter 1 value  2
enter 2 value  3
enter 3 value  4
enter 4 value  5

[2, 3, 4, 5]
sum is 14

In [ ]:
#Table creater

In [30]:
table = int(input("enter value"))

for  num in range(1,11):
    print(f"{table} * {num} = {table*num}")

enter value 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
#NESTED LOOP IN PYTHON