## Dictonaries {}:
- Dictionaries are collections of key-value pairs.
- They are defined by using curly braces {}.
- Keys must be unique and immutable.
- Values can be of any data type.
- Keys must be unique.
- Only Values in dictionaries are immutable.

In [19]:
dict = {'name':'umar','roll no':1199,'section':'1M'}
dict1 = {'name':'Ashir','age':12,'class':8}
print(dict)
# check the type 
print(type(dict))
# check the number of items
print(len(dict))

{'name': 'umar', 'roll no': 1199, 'section': '1M'}
<class 'dict'>
3

In [20]:
print(dict.values()) # print all the values
print(dict.keys()) # print all the keys

dict_values(['umar', 1199, '1M'])
dict_keys(['name', 'roll no', 'section'])

In [45]:
# Concatenation of dictionaries
dict = {'name':'umar','roll no':1199,'section':'1M'}
dict1 = {'name':'Ashir','age':12,'class':8}
dict2 = {'student':'Arsalan','grade':12,'marks':8}
concatenated_dict = {**dict,**dict1,**dict2}
print(concatenated_dict)

{'name': 'Ashir', 'roll no': 1199, 'section': '1M', 'age': 12, 'class': 8, 'student': 'Arsalan', 'grade': 12, 'marks': 8}

In [38]:
# we can also concatenate the sring by using update method
dict1.update(dict2)
print(dict1)

{'name': 'Ashir', 'age': 12, 'class': 8, 'student': 'Arsalan', 'grade': 12, 'marks': 8}

In [39]:
# Additin of new item in an existing dictionary
dict['Adress']='BWP'
print(dict)

{'name': 'umar', 'roll no': 1199, 'section': '1M', 'Adress': 'BWP'}

In [40]:
# Print the items in dictionaries
print("Items of dictinaries")
print(dict1.items())
print(dict2.items())

Items of dictinaries
dict_items([('name', 'Ashir'), ('age', 12), ('class', 8), ('student', 'Arsalan'), ('grade', 12), ('marks', 8)])
dict_items([('student', 'Arsalan'), ('grade', 12), ('marks', 8)])

In [32]:
# print the value along with key by using `if` statement
print(dict)
key = 'name'
if key in dict:
    print(f'{key}:{dict[key]}')
else:
    print("Key is not found")

{'name': 'umar', 'roll no': 1199, 'section': '1M', 'Adress': 'BWP'}
name:umar

In [44]:
dict

{'roll no': 1199, 'section': '1M', 'Adress': 'BWP'}

## Methods that are used in dictionaries commonly:

### Using `pop()` :

In [46]:
dict
name = dict.pop('name')
print(name)
print(dict)

umar
{'roll no': 1199, 'section': '1M'}

### Using update `update()`:

In [51]:
price = {'apple':44,'banana': 120,'mango':230} 
print(price)
discounts = {'banana':80,'mango':180}
price.update(discounts)
print(price)

{'apple': 44, 'banana': 120, 'mango': 230}
{'apple': 44, 'banana': 80, 'mango': 180}

### Using `get()`:

In [53]:
price = {'apple':44,'banana': 120,'mango':230} 
print(price.get('apple'))
print(price.get('mango'))
print(price.get('banana'))

44
230
120

### Using `clear()`:

In [55]:
price = {'apple':44,'banana': 120,'mango':230} 
print(type(price))
print(price.clear())

<class 'dict'>
None

## Nested Dict{}:

In [5]:
nested_dict = {
    'person1':{'name':'asad','class':'ninth','roll no':1122,'age':21},
    'person2':{'name':'Ashir','class':'eighth','roll no':2233},
}
print(nested_dict)
print(len(nested_dict))
print(type(nested_dict))

{'person1': {'name': 'asad', 'class': 'ninth', 'roll no': 1122, 'age': 21}, 'person2': {'name': 'Ashir', 'class': 'eighth', 'roll no': 2233}}
2
<class 'dict'>

# Tuples():
- They are immutable.
- They accept the duplication of item.
- It can store different data types.
- They are written in parantheses().

In [59]:
a=(12,'umar',True,12.34)
print(a)
print(len(a))
print(type(a))

(12, 'umar', True, 12.34)
4
<class 'tuple'>

### Concatenation of tuples:

In [60]:
a=(12,'umar',True,11.2)
b=(34,'zain',False,44.9)
a+b

(12, 'umar', True, 11.2, 34, 'zain', False, 44.9)

#### Tules can accept the dupliation of items.

In [62]:
num =( 12,12,34,23,23,100,101,100,34,89,76,89)
print(num)
print(type(num))

(12, 12, 34, 23, 23, 100, 101, 100, 34, 89, 76, 89)
<class 'tuple'>

### Using `count()`:

In [64]:
num =( 12,12,34,23,23,100,101,100,34,89,76,89)
print(num.count(12))
name = ('a','b','a','b','c','c','b','g','b','h')
print(name.count('b'))

2
4

### Using `index()`:

In [69]:
num =( 12,12,34,23,23,100,101,100,34,89,76,89)
name = ('a','b','a','b','c','c','b','g','b','h')
print(num.index(12))
print(name.index('h'))

0
9

### Using `membership(operator):

In [71]:
num =( 12,12,34,23,23,100,101,100,34,89,76,89)
name = ('a','b','a','b','c','c','b','g','b','h')
print('z' in name)
print(12 in num)
print('a' in name)
print(100 in name)

False
True
True
False